@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

#logo img {
  height: 45px;
}

.pokemon-grid {
  display: grid;
  width: 12rem auto;
  background: #444;
  color: #e4c439;
  padding: 1rem;
  border-radius: 10px;
  border-top: 0.5px solid #cebf7b;
  border-bottom: 0.5px solid #cebf7b;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
}

.pokemon-grid .box:hover {
  transform: scale(1.05);
}

.pokemon-grid .box {
  width: 100%;
  height: 300px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  text-align: center;
}

.pokemon-grid .box img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.pokemon-grid .box h3 {
  text-transform: uppercase;
}

.pokemon-grid .box p {
  font-size: 19px;
}

pagination-controls {
  text-align: center;
  color: black;
}
