img {
  width: 100%;
}

footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fff;
  background-color: #222;
}

footer span {
  font-weight: bold;
  color: #fff;
}
