<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-control">
      <label for="email">Email</label>
      <input formControlName="email" type="email" placeholder="Digite o seu e-mail" required>
      <label for="password">Senha</label>
      <input formControlName="password" type="password" placeholder="Digite a sua senha" required>
    </div>
    <input type="submit" value="Entrar">
    <p>Não tem conta?
      <a routerLink="/register">Cadastrar</a>
    </p>
  </form>
</div>
