<div class="auth-container">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="form-control">
      <label for="email">Email</label>
      <input formControlName="email" type="email" placeholder="Informe seu email" required>
      <label for="password">Password</label>
      <input formControlName="password" type="password" placeholder="Informe a sua senha" required>
    </div>
    <input type="submit" value="Cadastrar">
    <p>Já tem conta?
      <a routerLink="/login">Entrar</a>
    </p>
  </form>
</div>
